# === Docker Container ===
# MySQL
MYSQL_ROOT_PASSWORD=root
MYSQL_USER=admin
MYSQL_PASSWORD=admin123
MYSQL_DATABASE=mobiletech

# MinIO
MINIO_ROOT_USER=minioadmin
MINIO_ROOT_PASSWORD=minioadmin

# === Spring Boot ===
DB_HOST=localhost

# Support multiple origins separated with comma
ALLOWED_ORIGINS=http://localhost:5173

# Storage (S3-compatible)
STORAGE_REGION="eu-central-1"
STORAGE_ACCESS_KEY="minioadmin"
STORAGE_SECRET_KEY="minioadmin"
STORAGE_ENDPOINT="http://localhost:9000"
STORAGE_BUCKET_NAME="mobiletech-bucket"
STORAGE_BUCKET_PATH_PRODUCTS="products"