# === Docker Container ===
# MySQL
MYSQL_ROOT_PASSWORD=root
MYSQL_USER=admin
MYSQL_PASSWORD=admin123
MYSQL_DATABASE=mobiletech

# MinIO
MINIO_ROOT_USER=minioadmin
MINIO_ROOT_PASSWORD=minioadmin

# === Spring Boot ===
DB_HOST=localhost

# Security
# Generate with `openssl rand -base64 32`
JWT_SECRET=<key-here>

# Support multiple origins separated with comma
ALLOWED_ORIGINS=http://localhost:5173

# Storage (S3-compatible)
STORAGE_REGION="eu-central-1"
STORAGE_ACCESS_KEY="minioadmin"
STORAGE_SECRET_KEY="minioadmin"
STORAGE_ENDPOINT="http://localhost:9000/mobiletech-bucket"
STORAGE_BUCKET_NAME="mobiletech-bucket"
STORAGE_BUCKET_PREFIX_PRODUCTS="products"

FRONTEND_URL=http://localhost:5173
BACKEND_URL="http://localhost:8080"

# Payments

# PayPal
PAYMENT_PAYPAL_CLIENT_ID=""
PAYMENT_PAYPAL_CLIENT_SECRET=""
PAYMENT_PAYPAL_MODE="SANDBOX" # Enum SANDBOX or PRODUCTION

# Stripe
PAYMENT_STRIPE_SECRET_KEY=""
PAYMENT_STRIPE_WEBHOOK_SECRET=""
